[alias]
    addi = add -i
    addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
    assume-unchanged = !git update-index --assume-unchanged
    co = checkout
    df = diff -w --color-words
    dfs = diff --staged -w --color-words
    glog = log --date=iso --pretty=format:\"%C(yellow)%h %C(bold blue)%ad %Creset%an %Cgreen%s\" --graph
    pullf = pull --ff-only
    pullr = pull --rebase
    pwc = !git stash && git pull --rebase && git stash pop
    sshow = "!f() { git stash show stash^{/$*} -p; }; f"
    sapply = "!f() { git stash apply stash^{/$*}; }; f"
    st = "!f() { \
        echo; echo "------- $(pwd) -------"; echo; \
        git status; \
        echo; echo "------- $(pwd) -------"; echo; \
    }; f"
    undo-unchanged-assumption = !git update-index --no-assume-unchanged
    unchanged-assumptions = !git ls-files -v | grep "^[[:lower:]]"
[color]
    ui = true
[color "diff"]
    whitespace = yellow
[core]
    pager = less -r
    editor = vim
[merge]
    conflictstyle = diff3
    tool = vimdiff
[push]
    default = current
[mergetool]
    prompt = false

[credential]
    helper = cache 86400

[include]
  path = ~/.gitconfig.bak

# [includeIf "hasconfig:remote.*.url:https://github.com/**"]
#  path = ~/.gitconfig.personal
